<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
Dear <%= @user.first_name %>,

Welcome to Team Up!
To start applying to projects follow the link:
<%= @url %>

Regards,
Team TeamUp
  
</body>
</html>