<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
Dear <%= @user.first_name %>,

Congratulations, you have been accepted for the role of <%= @role %> for project <%= @project.name %>. 

Regards,
Team-up Team
  
</body>
</html>