<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p> Hello <%= @user.first_name %>,
  <p> You've received a position request. To view the request please follow this link: <%= @url %>
</body>
</html>