<div class="skill skill-button">
	<button class="button round info tiny"><%= skill.name %></button></li>
  <%= hidden_field_tag 'user[skills_attributes][#{}][name]', 'user_skills_attributes_#{}_name' %>
</div>
