<div class="nested-fields">
	<div class="row">
		<div class="small-8 columns">
			<%= f.text_field :name %>
		</div>	
	<%= link_to_remove_association "X", f, ({class: "button round alert tiny"}) %>
	</div>
</div>
