<div class="skill">
	<ul class="button-group round skill-button">
    <li><a href="#" class="button info tiny"><%= skill %></a></li>
    <li><a href="#" class="button info tiny remove-skill">X</a></li>
    <%= hidden_field_tag 'user[skills_attributes][#{}][name]', 'user_skills_attributes_#{}_name' %>
  </ul>
</div>
