<h1>Users</h1>

<!-- <div class="row">
  <div class="medium-4 medium-centered columns">
    <%# paginate @users %>
  </div>
</div> -->

<!-- <div id="search_bar">
  <h3> Search </h3>
  <%# form_tag users_path, id: 'search_form', method: :get do %>
    <%# text_field_tag :search, params[:search] %>
    <%# submit_tag 'Search', class: :button %>
  <%# end %>
</div> -->

<div id="projects" class="row">
  <%=render @users %>
</div>

<!-- <div class="row">
  <div class="medium-4 medium-centered columns">
    <%# paginate @users %>
  </div>
</div> -->