<button>
<div class="card">
  <div class="front">
      <p>
        <%= Role.find(positions.role_id).name %>
        <%= positions.description %><br>
      </p>
  </div>
  <div class="back">
    <h3>Fill this Position</h3>
    <%= form_tag position_requests_path, method: 'post', class: "position-form" do %>
      <% hidden_field_tag 'project_id', @project.id %>
      <% hidden_field_tag 'position', positions.id %>
    <% end %>
  </div>
</div>
</button>