@import "foundation_and_overrides";
@import "foundation-icons";
@import "projects";
@import "users";
@import "positions";
@import "user_sessions";
@import "position_requests";

* {
  box-sizing: border-box;
}

i {
	margin-right: 10px;
}

.icon-logo {
	height: 40px; 
	width: 40px;
	margin: 4px;
}