@import "foundation_and_overrides";
@import "foundation-icons";
@import "home";
@import "projects";
@import "users";
@import "positions";
@import "user_sessions";
@import "position_requests";

* {
  box-sizing: border-box;
}

i {
	margin-right: 10px;
}

.button-green{
	@include button;
	background-color: #75B739;
	color: white;
}

.button-green:hover{
	background-color: transparent;
	border: 1px solid #75B739;
	color: #75B739;
}

.flash {
	position: relative;
	width: 50%;
	margin: 5px auto;
	padding: 20px;
	background-color: #fff;
	z-index: 50px;
}

.notice {
	background-color: #a5e06d;
	border: 1px solid #75B739;
	border-radius: 5px;
}

.alert {
	background-color: red;
	border: 1px solid #B77539;
	border-radius: 5px;
}

.icon-logo {
	height: 40px; 
	width: 40px;
	margin: 4px;
	margin-left: 20px;
}

.top-bar-section ul li > a:not(.button):hover {
	color: #75B739;
	.right {
		margin-right: 13px;
	}
}
