.project-card {
	position: relative;
	width: 100%;
	max-width: 468px;
	max-height: 198px;
	margin: 10px 0px;
	border: 1px solid black;
}

.project-name {
	font-size: 1.8em;
	font-weight: bold;
	position: absolute;
	top: 25%;
	margin: 5px;
	width: 92%;
	height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	z-index: 10;
}

.project-description {
	position: absolute;
	bottom: 0px;
	margin: 5px;
	width: 95%;
	overflow: hidden;
	color: black;
	max-height: 35%;
}

.project-status {
	position: absolute;
	top: 5px;
	margin: 10px;
	left: 15px;
}

.project-location {
	position: absolute;
	top: 5px;
	margin: 10px;
	right: 15px;
}

.project-image {
	opacity: 0.6;
	z-index: 0;
	background-color: #00ffff;
}

.pagination {
	text-align: center;
}