.project-wrapper {
	width: 100%;
	margin-bottom: 20px;
}

.project-card {
	position: relative;
	width: 100%;
	max-width: 333px;
	max-height: 550px;
	margin: auto;
	border: 1px solid black;
}

.project-card:hover {
	border: 1px solid red;
}

.project-image {
	position: relative;
	width: 100%;
}

.project-info {
	position: relative;
	margin: 0px 10px;
	/*background-color: #999;*/
	height: 160px;
}

.project-name {
	font-size: 1.8em;
	font-weight: bold;
	position: relative;
	margin: 0px 5px;
	width: 92%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	z-index: 10;
}

.project-description {
	position: relative;
	margin: 5px;
	width: 92%;
	max-height: 75px;
	overflow: hidden;
	color: black;
}

.project-status {
	position: absolute;
	top: 5px;
	margin: 10px;
	right: 15px;
}

.project-location {
	bottom: 5px;
	left: 5px;
	color: #333;
}

.fi-marker {
	margin-right: 5px;
}

.project-owner {
	font-style: italic;
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.extra-info {
	/*margin-bottom: 5px;*/
	/*background-color: #666;*/
}

.pagination {
	text-align: center;
}
