#showlogin {
  display: none;
  width: 33%;
  min-width: 400px;
  height: 275px;
  border: 3px $oil solid;
  right: 0px;
  z-index: 100;
  background-color: white;
  position: absolute;
  padding: 20px;
}